{{#section "styles"}}
  <link rel="stylesheet" href="/css/gm_tools.css" />
{{/section}}

{{#section "header"}}
  <script type="text/javascript" src="/js/gm_tools/ui-handler.js"></script>
{{/section}}

{{#section "nav_home"}}
  <li><a href="/">Home</a></li>
{{/section}}

{{#section "nav_characters"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a
      href="/v/profile/characters"
    >Characters</a></li>
{{/section}}

{{#section "nav_builds"}}
  <li><a href="/builds">Builds</a></li>
{{/section}}

{{#section "nav_homebrew"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section "nav_gm_tools"}}
  <li><a href="/gm-tools" class="active">GM Tools</a></li>
{{/section}}

{{#section "nav_browse"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i
        class="fas fa-lg fa-search"
      ></i></a></li>
{{/section}}

{{#section "nav_login"}}
  <li class="mr-4"><a href="/auth/login">Login
      <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section "banner_nav"}}
  <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="container py-4 text-center">

  <div class="box">

    <div class="pos-relative">

      <h1 class="title is-2 has-txt-value-string m-0">GM Tools</h1>
      <hr class="mt-0 mb-2 mx-2" />

      <!-- has-bg-selectable <span class="pos-absolute pos-t-5 pos-r-10 is-size-7 has-txt-noted is-italic">Coming Soon!</span> -->

      <div class="columns is-centered is-multiline m-2">

        <div
          id="card-campaigns"
          class="column is-4 card is-unselectable card-active m-2 cursor-clickable"
        >
          <div class="card-content pt-2">
            <a>
              <p class="is-size-5 has-txt-value-number">Campaigns</p>
              <p class="is-size-7">Create a collection of your player's
                characters. Be able to view and edit their health and conditions
                in a moment's notice. Full integration with encounter builder as
                well!</p>
            </a>
          </div>
        </div>

        <div
          id="card-encounter-builder"
          class="column is-4 card is-unselectable card-active m-2 cursor-clickable"
        >
          <div class="card-content pt-2">
            <a>
              <p class="is-size-5 has-txt-value-number">Encounter Builder</p>
              <p class="is-size-7">Design encounters for your party, being able
                to easily measure and balance the difficulty of the encounter.
                Built-in system for tracking health and conditions of enemies.</p>
            </a>
          </div>
        </div>

        <div
          id="card-shop-generator"
          class="column is-4 card is-unselectable card-active m-2 cursor-clickable"
        >
          <div class="card-content pt-2">
            <a>
              <p class="is-size-5 has-txt-value-number">Shop Generator</p>
              <p class="is-size-7 pb-1">Choose from one of the 50+ shop presets
                and generate a shop inventory on the fly!</p>
              <p class="is-size-7">Patrons also gain access to shop
                customization, importing / exporting, and homebrew integration.</p>
            </a>
          </div>
        </div>

        <div id="card-discord-bot" class="column is-4 card m-2">
          <div class="card-content pt-2">
            <div>
              <p class="is-size-5 has-txt-value-number">Discord Bot</p>
              <p class="is-size-7">A bot for fetching content from Wanderer's
                Guide via API and properly displaying / formatting it within
                Discord.</p>

              <div class="field is-grouped is-grouped-centered pt-3">
                <div class="control">
                  <a
                    class="button is-small is-info is-outlined is-rounded"
                    href="https://discord.com/oauth2/authorize?client_id=354022489245876224&permissions=2147567680&scope=bot%20applications.commands"
                    target="_blank"
                  >
                    <span>Invite</span>
                    <span class="icon"><i class="fab fa-discord"></i></span>
                  </a>
                </div>
                <div class="control">
                  <a
                    class="button is-small is-info is-outlined is-rounded"
                    href="https://github.com/Quzzar/WG-Bot"
                    target="_blank"
                  >
                    <span>Github</span>
                    <span class="icon"><i class="fab fa-github"></i></span>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>