{{#section "styles"}}
  <link rel="stylesheet" href="/css/shop-generator.css">
  <link rel="stylesheet" href="/css/homebrew-builders.css">
{{/section}}

{{#section 'header'}}
    <script type="text/javascript" src="/js/gm_tools/shop_generator/presets.js"></script>
    <script type="text/javascript" src="/js/gm_tools/shop_generator/shop.js"></script>

    {{#ifEqual isPatreonSupporter 1}}
    <script type="text/javascript" src="/js/gm_tools/shop_generator/item-profiles.js"></script>
    {{/ifEqual}}

    <script type="text/javascript" src="/js/gm_tools/shop_generator/generation.js"></script>
    <script type="text/javascript" src="/js/gm_tools/shop_generator/ui-handler.js"></script>

    <script src="/js/libraries/confirm_message/confirm-message.js"></script>

    <!-- Quickview -->
    <script src="/js/sheet/quickviews/_quickviews.js"></script>
    <script src="/js/sheet/quickviews/item-view.js"></script>
    <script src="/js/sheet/quickviews/tag-view.js"></script>
    <script src="/js/sheet/utils/item-utils.js"></script>
    <script src="/js/sheet/utils/material-utils.js"></script>
    <script src="/js/wsc/text-processing.js"></script>

    <!-- Ion Range Slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/v/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_builds'}}
    <li><a href="/builds">Builds</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_gm_tools'}}
    <li><a href="/gm-tools" class="active">GM Tools</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}



{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader is-hidden">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div class="subpageloader is-hidden"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>

<div class="container py-4 text-center">

  <div class="box">

    <!-- Choose a Shop Section -->
    <div id="section-shop-choose" class="pos-relative">

      <span id="shop-gen-back-btn" class="pos-absolute pos-t-0 pos-l-0 icon is-large has-text-info cursor-clickable">
        <i class="fas fa-2x fa-arrow-left"></i>
      </span>

      <h1 class="title is-2 has-txt-value-string">Shop Generator</h1>

      <div class="columns is-mobile is-centered">

        <div class="column is-narrow">
          <div class="">
            <select id="shop-type" data-placeholder="Choose a Shop">
            </select>
          </div>
        </div>

        <div class="column is-narrow">
          <p class="pt-2">or</p>
        </div>
        
        <div class="column is-narrow {{#ifEqual isPatreonSupporter 0}}has-tooltip-bottom has-tooltip-multiline{{/ifEqual}}" {{#ifEqual isPatreonSupporter 0}}data-tooltip="Support us on Patreon to gain access to shop customization, importing / exporting, and homebrew integration!"{{/ifEqual}}>

          <a id="button-import-shop" class="button is-info is-outlined" {{#ifEqual isPatreonSupporter 0}}disabled{{/ifEqual}}>
            <label for="input-import-shop" class="cursor-clickable m-0">
              <span class="is-p">Import</span>
              <span class="icon">
                <i class="fas fa-upload"></i>
              </span>
            </label>
            {{#ifEqual isPatreonSupporter 1}}
              <input id="input-import-shop" type="file" accept=".guideshop"/>
            {{/ifEqual}}
          </a>

        </div>

      </div>
    </div>

    <!-- Generate a Shop Section -->
    <div id="section-shop-generate" class="is-hidden">

      <div class="pos-relative">
        <h1 id="shop-name" class="title is-2 has-txt-value-string"></h1>
        <span id="exit-shop-btn" class="pos-absolute pos-t-0 pos-r-0 is-size-4 has-text-danger cursor-clickable"><i class="fas fa-times"></i></span>
      </div>

      <div class="columns is-mobile is-centered">

        <div class="column is-narrow {{#ifEqual isPatreonSupporter 0}}has-tooltip-bottom has-tooltip-multiline{{/ifEqual}}" {{#ifEqual isPatreonSupporter 0}}data-tooltip="Support us on Patreon to gain access to shop customization, importing / exporting, and homebrew integration!"{{/ifEqual}}>

          <a id="customize-shop-btn" class="button is-info is-outlined" {{#ifEqual isPatreonSupporter 0}}disabled{{/ifEqual}}>
            <p>Customize</p>
            <span class="icon"><i class="fas fa-cog"></i></span>
          </a>

        </div>
        
        <div class="column is-narrow {{#ifEqual isPatreonSupporter 0}}has-tooltip-bottom has-tooltip-multiline{{/ifEqual}}" {{#ifEqual isPatreonSupporter 0}}data-tooltip="Support us on Patreon to gain access to shop customization, importing / exporting, and homebrew integration!"{{/ifEqual}}>

          <a id="export-shop-btn" class="button is-info is-outlined" {{#ifEqual isPatreonSupporter 0}}disabled{{/ifEqual}}>
            <p>Export</p>
            <span class="icon"><i class="fas fa-download"></i></span>
          </a>

        </div>

      </div>

      <hr class="m-2">

      <div class="columns is-centered">

        <div class="column is-narrow" style="text-align: left;">
          <label class="label text-center">Books</label>
          <select id="input-books" data-placeholder="Select Books" multiple>
          </select>
        </div>
        
        {{#ifEqual isPatreonSupporter 1}}
        <div class="column is-narrow" style="text-align: left;">
          <label class="label text-center">Homebrew</label>
          <select id="input-homebrew" data-placeholder="Select Bundles" multiple>
          </select>
        </div>
        {{/ifEqual}}

      </div>

      <div style="max-width: 400px; margin: auto;">
        <label class="label my-1">Inventory Size</label>
        <input type="text" id="inventory-size" value=""
          data-min="0"
          data-max="100"
          data-from="15"
          data-grid="true"
        />
      </div>

      <div style="max-width: 400px; margin: auto;">
        <label class="label mt-3 mb-0">Price Markup</label>
        <input type="text" id="price-markup" value=""
          data-min="-100"
          data-max="500"
          data-from="0"
          data-postfix="%"
          data-grid="true"
          data-grid-num="6"
        />
      </div>

      <div class="mt-5">
        <button id="generate-shop-btn" class="button is-info is-rounded is-medium">
          <span>Generate</span>
        </button>
      </div>

    </div>

    <!-- Customize Shop Section -->
    {{#ifEqual isPatreonSupporter 1}}
    <div id="section-shop-customize" class="is-hidden pos-relative">

      <span id="customize-back-btn" class="pos-absolute pos-t-0 pos-l-0 icon is-large has-text-info cursor-clickable">
        <i class="fas fa-2x fa-arrow-left"></i>
      </span>

      <div class="field has-addons has-addons-centered">
        <div class="control has-icons-left" style="min-width: 40%;">
          <input id="customize-shop-name" class="input is-medium" type="text" placeholder="Shop Name">
          <span class="icon is-small is-left">
            <i class="fas fa-store"></i>
          </span>
        </div>
      </div>

      <div class="columns is-marginless">
        <div class="column is-paddingless">
          <div style="min-width: 40%; max-width: 450px; margin: auto;">
            <div id="profiles-chart" class="my-2"></div>
          </div>
        </div>
        <div class="column is-paddingless">
          <div style="min-width: 40%; max-width: 450px; margin: auto;">
            <div id="projected-levels-chart" class="my-2"></div>
          </div>
        </div>
      </div>

      <div>
        <p class="is-size-4">Item Profiles <span id="add-item-profile-btn" class="icon is-size-5 has-text-info cursor-clickable"><i class="fal fa-plus-circle"></i></span></p>
        <hr class="mt-0 mb-1 mx-2">

        <div id="section-item-profiles"></div>

        <div id="item-profile-layout" class="card mb-2 isLayout is-hidden">
          <div class="card-header cursor-clickable">
            <p class="card-header-title is-paddingless has-txt-value-number is-size-5">
              <span class="card-header-name">New Item Profile</span>
              <span class="card-header-weight pl-2 has-txt-partial-noted">(50%)</span>
            </p>
            <a class="card-header-icon is-paddingless mt-1 delete is-medium"></a>
          </div>
          <div class="card-content">

            <div style="max-width: 400px; margin: auto;">
              <label class="label is-size-4 mb-0">Profile Weight</label>
              <input type="text" class="profile-weight" value=""
                data-min="1"
                data-max="100"
                data-from="50"
                data-postfix="%"
              />
            </div>

            <hr class="m-3">

            <div class="columns">
              <div class="column">

                <div class="control">
                  <label class="label is-size-5 mb-2 text-center">Profile Name</label>
                  <input class="profile-name input" type="text" placeholder="Item Profile Name" value="New Item Profile">
                </div>

              </div>
              <div class="column">

                <div>
                  <label class="label is-size-5 mb-0">Level Range</label>
                  <input type="text" class="profile-level-range" value=""
                    data-type="double"
                    data-min="0"
                    data-max="30"
                    data-from="0"
                    data-to="10"
                    data-grid="true"
                    data-grid-num="6"
                  />
                </div>

              </div>
            </div>

            <hr class="m-2">

            <div class="columns">

              <div class="column">
                <div class="text-left pt-1">
                  <label class="label is-size-4">Traits</label>
                  <select class="profile-traits" data-placeholder="Select Traits" multiple>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="profile-weights-traits pt-3 px-1 use-custom-scrollbar" style="max-height: 400px; overflow-y: auto; overflow-x: clip;">
                </div>
              </div>
              <div class="column">
                <div class="profile-chart-traits pt-3">
                </div>
              </div>

            </div>

            <hr class="m-2">

            <div class="columns">

              <div class="column">
                <div class="text-left pt-1">
                  <label class="label is-size-4">Categories</label>
                  <select class="profile-categories" data-placeholder="Select Categories" multiple>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="profile-weights-categories pt-3 px-1 use-custom-scrollbar" style="max-height: 400px; overflow-y: auto; overflow-x: clip;">
                </div>
              </div>
              <div class="column">
                <div class="profile-chart-categories pt-3">
                </div>
              </div>

            </div>

            <hr class="m-2">

            <div class="columns">

              <div class="column">
                <div class="text-left pt-1">
                  <label class="label is-size-4">Weapon Groups</label>
                  <select class="profile-weapon_groups" data-placeholder="Select Weapon Groups" multiple>
                  </select>
                </div>
              </div>
              <div class="column">
                <div class="profile-weights-weapon_groups pt-3 px-1 use-custom-scrollbar" style="max-height: 400px; overflow-y: auto; overflow-x: clip;">
                </div>
              </div>
              <div class="column">
                <div class="profile-chart-weapon_groups pt-3">
                </div>
              </div>

            </div>

            <hr class="m-2">

            <div class="columns">

              <div class="column is-5">
                <div class="text-left pt-1">
                  <label class="label is-size-4">Rarity</label>

                  <div class="pt-0">
                    <p class="text-center">Common</p>
                    <input type="text" class="common-weight" value=""
                      data-min="0"
                      data-max="100"
                      data-from="81"
                      data-postfix="%"
                    />
                  </div>

                  <div class="pt-2">
                    <p class="text-center">Uncommon</p>
                    <input type="text" class="uncommon-weight" value=""
                      data-min="0"
                      data-max="100"
                      data-from="15"
                      data-postfix="%"
                    />
                  </div>

                  <div class="pt-2">
                    <p class="text-center">Rare</p>
                    <input type="text" class="rare-weight" value=""
                      data-min="0"
                      data-max="100"
                      data-from="3"
                      data-postfix="%"
                    />
                  </div>

                  <div class="pt-2">
                    <p class="text-center">Unique</p>
                    <input type="text" class="unique-weight" value=""
                      data-min="0"
                      data-max="100"
                      data-from="1"
                      data-postfix="%"
                    />
                  </div>

                </div>
              </div>

              <div class="column is-2"></div>

              <div class="column is-5">
                <div class="profile-chart-rarities pt-3">
                </div>
              </div>

            </div>

            <hr class="m-2">

            <div class="text-left pt-1" style="max-width: 600px;">
              <label class="label is-size-4">Quantity</label>

              <div class="pt-0">
                <p class="text-center">Permanent Items</p>
                <input type="text" class="profile-qty-permanent-items" value=""
                  data-type="double"
                  data-min="1"
                  data-max="50"
                  data-from="1"
                  data-to="4"
                />
              </div>

              <div class="pt-2">
                <p class="text-center">Consumable Items</p>
                <input type="text" class="profile-qty-consumable-items" value=""
                  data-type="double"
                  data-min="1"
                  data-max="100"
                  data-from="1"
                  data-to="10"
                />
              </div>

              <div class="pt-2">
                <p class="text-center">Rarity Adjustment</p>
                <input type="text" class="profile-qty-rarity-adjustment" value=""
                  data-min="0"
                  data-max="100"
                  data-from="50"
                  data-postfix="%"
                />
                <p class="is-size-7 has-txt-noted is-italic">Adjusts store quantity based on the item's rarity. At 100%, uncommon items have 75% less quantity, and rare has 95% less. Unique items always have 1 quantity.</p>
              </div>

            </div>

            <hr class="m-2">

            <div class="text-left pt-1" style="max-width: 600px;">
              <label class="label is-size-4">Formulas</label>

              <div class="">
                <input type="text" class="profile-formula-chance" value=""
                  data-min="0"
                  data-max="100"
                  data-from="0"
                  data-postfix="%"
                />
                <p class="is-size-7 has-txt-noted is-italic">The percent chance that any given item is a formula of that item instead of the item itself.</p>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
    {{/ifEqual}}

  </div>

  <div id="section-generated-inventory" class="box is-hidden">

    <h1 class="title is-4 has-txt-value-string mb-1">Shop Inventory</h1>

    <div class="columns is-marginless is-mobile">
      <div class="column is-6 p-1 border-bottom border-dark-lighter has-bg-options-header-bold is-bold">
        <span class="is-p">Name</span>
      </div>
      <div class="column is-2 p-1 border-bottom border-dark-lighter has-bg-options-header-bold is-bold">
        <span class="is-p">Price</span>
      </div>
      <div class="column is-2 p-1 border-bottom border-dark-lighter has-bg-options-header-bold is-bold">
        <span class="is-p">Level</span>
      </div>
      <div class="column is-2 p-1 border-bottom border-dark-lighter has-bg-options-header-bold is-bold">
        <span class="is-p">Rarity</span>
      </div>
    </div>
    <div id="container-generated-inventory">
    </div>

  </div>

</div>



{{#section 'overlay'}}
    <!-- Right Quickview -->
    <div id="quickviewDefault" class="quickview">
        <div class="quickview-header">
            <p id="quickViewTitle" class="title is-size-5 has-txt-value-number"></p>
            <div class="is-inline-flex">
                <p id="quickViewTitleRight"></p>
                <p id="quickViewTitleClose"></p>
            </div>
        </div>
        <div class="quickview-body use-custom-scrollbar">
            <div id="quickViewContent" class="quickview-block pt-1 pb-3 px-3">
            </div>
        </div>
    </div>
{{/section}}