.input {
  input {
    background-color: var(--tiny-input-bg-color);
    color: var(--mantine-color-text-0);
    min-height: 20px;
    height: 20px;
    text-align: center;
  }
  input::placeholder {
    color: var(--mantine-color-text-5);
    text-align: center;
  }
}
