
:root {
  --text-color: var(--mantine-color-dark-0);
  --_text-line-height: 1.75;
}

@media print {
  :root {
    --bg: #fff;
    --fg: #000;
  }

  body {
    background: var(--bg) !important;
    color: var(--fg) !important;
    filter: none !important;
  }
}

@font-face {
  font-family: 'ActionIcons';
  src: url('./assets/fonts/Pathfinder2eActions.ttf') format('truetype');
}

.action-symbol {
  font-family: ActionIcons, sans-serif;
  font-size: 1.7em;
  line-height: 0.7;
  color: var(--mantine-color-gray-5);
}

strong {
  font-weight: 600;
  color: var(--mantine-color-gray-4);
}

.inverted {
  filter: invert(100%);
}

.tiptap.ProseMirror {
  flex: 1;
  max-height: var(--rich-text-editor-max-height);
  height: var(--rich-text-editor-height);
  overflow-y: auto;
}

/* Undo tab button styling changes from Mantine v8 */
button.mantine-Tabs-tab:not([data-orientation="vertical"]) {
  justify-content: center !important;
}
button.mantine-Tabs-tab span.mantine-Tabs-tabLabel {
  flex: unset !important;
}
