
@font-face {
  font-family: 'ActionIcons';
  src: url('./assets/fonts/Pathfinder2eActions.ttf') format('truetype');
}

.action-symbol {
  font-family: ActionIcons, sans-serif;
  font-size: 1.7em;
  line-height: 0.7;
}