
{{#section 'header'}}
    <link rel="stylesheet" href="/css/admin-builders.css">
    <script type="text/javascript" src="/js/admin_builders/spell/builder-spell.js"></script>
    <script type="text/javascript" src="/js/confirm-page-leave.js"></script>
    {{#if spellID}}
        <script type="text/javascript" src="/js/admin_builders/spell/editor-spell.js"></script>
        <script type="text/javascript" src="/js/admin_builders/editor-utils.js"></script>
    {{/if}}
{{/section}}

{{#section 'nav_home'}}
    <li><a href="/">Home</a></li>
{{/section}}

{{#section 'nav_characters'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/v/profile/characters">Characters</a></li>
{{/section}}

{{#section 'nav_builds'}}
    <li><a href="/builds">Builds</a></li>
{{/section}}

{{#section 'nav_homebrew'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/homebrew">Homebrew</a></li>
{{/section}}

{{#section 'nav_gm_tools'}}
    <li><a href="/gm-tools">GM Tools</a></li>
{{/section}}

{{#section 'nav_browse'}}
    <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i class="fas fa-lg fa-search"></i></a></li>
{{/section}}

{{#section 'nav_login'}}
    <li class="mr-4"><a href="/auth/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section 'banner_nav'}}
    <div class="banner_w3lspvt-2"></div>
{{/section}}


<div class="pt-3">
    {{#if spellID}}
        <h1 class="is-size-1 has-txt-value-string has-text-centered">Spell Editor</h1>
    {{else}}
        <h1 class="is-size-1 has-txt-value-string has-text-centered">Spell Creation</h1>
    {{/if}}
</div>

<div class="columns is-mobile is-centered mt-2 mb-3">
    <div class="column is-8 tile is-ancestor is-vertical">

        <div class="tile">

            <div class="tile is-parent is-vertical box is-marginless">

                <div class="tile is-child field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" id="inputName" type="text" placeholder="e.g. Blur">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Version</label>
                    <div class="control">
                        <input id="inputVersion" class="input" type="text" placeholder="e.g. 1.0">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Source</label>
                    <div class="control">
                        <div class="select">
                            <select id="inputContentSource">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="tile is-child field pt-1 pl-2">
                     <label class="checkbox">
                        <input type="checkbox" id="inputIsFocusSpell" value="1">
                        <strong>Focus Spell</strong>
                    </label>
                </div>

                <div class="tile is-child">
                    <label class="label">Traits</label>
                    <select id="inputTags" data-placeholder="Select Traits" multiple>
                        {{#each tags}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="tile is-child columns">

                    <div class="column field">
                        <label class="label">Level</label>
                        <div class="control">
                            <div class="select">
                                <select id="inputLevel">
                                    <option value="0">Cantrip</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="column field">
                        <label class="label">Rarity</label>
                        <div class="control">
                            <div class="select">
                                <select id="inputRarity">
                                    <option value="COMMON">Common</option>
                                    <option value="UNCOMMON">Uncommon</option>
                                    <option value="RARE">Rare</option>
                                    <option value="UNIQUE">Unique</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="column field">
                        <label class="label">Traditions</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select id="inputTraditions" multiple size="4" class="use-invisible-scrollbar">
                                    <option value="arcane">Arcane</option>
                                    <option value="divine">Divine</option>
                                    <option value="occult">Occult</option>
                                    <option value="primal">Primal</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="column field">
                        <label class="label">Cast</label>
                        <div class="control">
                            <div class="select">
                                <select id="inputCasting" class="pf-icon">
                                    <option value="ACTION">[one-action]</option>
                                    <option value="TWO_ACTIONS">[two-actions]</option>
                                    <option value="THREE_ACTIONS">[three-actions]</option>
                                    <option value="FREE_ACTION">[free-action]</option>
                                    <option value="REACTION">[reaction]</option>
                                    <option value="ONE_TO_THREE_ACTIONS">[one-action] to [three-actions]</option>
                                    <option value="ONE_TO_TWO_ACTIONS">[one-action] to [two-actions]</option>
                                    <option value="TWO_TO_THREE_ACTIONS">[two-actions] to [three-actions]</option>
                                    <option value="TWO_TO_TWO_ROUNDS">[two-actions] to 2 rounds</option>
                                    <option value="TWO_TO_THREE_ROUNDS">[two-actions] to 3 rounds</option>
                                    <option value="THREE_TO_TWO_ROUNDS">[three-actions] to 2 rounds</option>
                                    <option value="THREE_TO_THREE_ROUNDS">[three-actions] to 3 rounds</option>
                                    <option value="TWO_ROUNDS">2 rounds</option>
                                    <option value="THREE_ROUNDS">3 rounds</option>
                                    <option value="ONE_MINUTE">1 minute</option>
                                    <option value="FIVE_MINUTES">5 minutes</option>
                                    <option value="TEN_MINUTES">10 minutes</option>
                                    <option value="THIRTY_MINUTES">30 minutes</option>
                                    <option value="ONE_HOUR">1 hour</option>
                                    <option value="EIGHT_HOURS">8 hours</option>
                                    <option value="ONE_DAY">24 hours</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="column field">
                        <label class="label">Components</label>
                        <div class="control">
                            <div class="select is-multiple">
                                <select id="inputCastingComponents" multiple size="4" class="use-invisible-scrollbar">
                                    <option value="material">Material</option>
                                    <option value="somatic">Somatic</option>
                                    <option value="verbal">Verbal</option>
                                    <option value="focus">Focus</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tile is-child columns">
                    <div class="column field">
                        <label class="label">Cost</label>
                        <div class="control">
                            <input class="input" id="inputCost" type="text" maxlength="290" placeholder="">
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Trigger</label>
                        <div class="control">
                            <input class="input" id="inputTrigger" type="text" maxlength="290" placeholder="">
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Requirements</label>
                        <div class="control">
                            <input class="input" id="inputRequirements" type="text" maxlength="290" placeholder="">
                        </div>
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Range</label>
                    <div class="control">
                        <input class="input" id="inputRange" type="text" maxlength="290" placeholder="">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Area</label>
                    <div class="control">
                        <input class="input" id="inputArea" type="text" maxlength="290" placeholder="">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Targets</label>
                    <div class="control">
                        <input class="input" id="inputTargets" type="text" maxlength="290" placeholder="">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Saving Throw</label>
                    <div class="control">
                        <div class="select">
                            <select id="inputSavingThrow">
                                <option value="">N/A</option>
                                <option value="FORT">Fortitude</option>
                                <option value="REFLEX">Reflex</option>
                                <option value="WILL">Will</option>
                                <option value="BASIC_FORT">Basic Fortitude</option>
                                <option value="BASIC_REFLEX">Basic Reflex</option>
                                <option value="BASIC_WILL">Basic Will</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">Duration</label>
                    <div class="control">
                        <input class="input" id="inputDuration" type="text" maxlength="290" placeholder="">
                    </div>
                </div>

                <div class="tile is-child field">
                    <label class="label">
                        Description
                        <a href="/wsc_docs/#description_fields" target="_blank"><span class="icon is-small has-text-info has-tooltip-top" data-tooltip="WSC Docs"><i class="fas fa-book"></i></span></a>
                    </label>
                    <div class="control">
                        <textarea class="textarea" id="inputDesc" placeholder="The target’s form appears blurry..."></textarea>
                    </div>
                </div>

                <div class="tile is-child columns">
                    <div class="column is-2 field">
                        <div class="control is-pulled-right">
                            <div class="select">
                                <select id="inputHeightenedOneVal">
                                    <option value="">N/A</option>
                                    <option value="PLUS_ONE">+1</option>
                                    <option value="PLUS_TWO">+2</option>
                                    <option value="PLUS_THREE">+3</option>
                                    <option value="PLUS_FOUR">+4</option>
                                    <option value="LEVEL_2">2nd</option>
                                    <option value="LEVEL_3">3rd</option>
                                    <option value="LEVEL_4">4th</option>
                                    <option value="LEVEL_5">5th</option>
                                    <option value="LEVEL_6">6th</option>
                                    <option value="LEVEL_7">7th</option>
                                    <option value="LEVEL_8">8th</option>
                                    <option value="LEVEL_9">9th</option>
                                    <option value="LEVEL_10">10th</option>
                                    <option value="CUSTOM">Custom</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Heightened</label>
                        <div class="control">
                            <textarea id="inputHeightenedOneText" class="textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="tile is-child columns">
                    <div class="column is-2 field">
                        <div class="control is-pulled-right">
                            <div class="select">
                                <select id="inputHeightenedTwoVal">
                                    <option value="">N/A</option>
                                    <option value="PLUS_ONE">+1</option>
                                    <option value="PLUS_TWO">+2</option>
                                    <option value="PLUS_THREE">+3</option>
                                    <option value="PLUS_FOUR">+4</option>
                                    <option value="LEVEL_2">2nd</option>
                                    <option value="LEVEL_3">3rd</option>
                                    <option value="LEVEL_4">4th</option>
                                    <option value="LEVEL_5">5th</option>
                                    <option value="LEVEL_6">6th</option>
                                    <option value="LEVEL_7">7th</option>
                                    <option value="LEVEL_8">8th</option>
                                    <option value="LEVEL_9">9th</option>
                                    <option value="LEVEL_10">10th</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Heightened</label>
                        <div class="control">
                            <textarea id="inputHeightenedTwoText" class="textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="tile is-child columns">
                    <div class="column is-2 field">
                        <div class="control is-pulled-right">
                            <div class="select">
                                <select id="inputHeightenedThreeVal">
                                    <option value="">N/A</option>
                                    <option value="PLUS_ONE">+1</option>
                                    <option value="PLUS_TWO">+2</option>
                                    <option value="PLUS_THREE">+3</option>
                                    <option value="PLUS_FOUR">+4</option>
                                    <option value="LEVEL_2">2nd</option>
                                    <option value="LEVEL_3">3rd</option>
                                    <option value="LEVEL_4">4th</option>
                                    <option value="LEVEL_5">5th</option>
                                    <option value="LEVEL_6">6th</option>
                                    <option value="LEVEL_7">7th</option>
                                    <option value="LEVEL_8">8th</option>
                                    <option value="LEVEL_9">9th</option>
                                    <option value="LEVEL_10">10th</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Heightened</label>
                        <div class="control">
                            <textarea id="inputHeightenedThreeText" class="textarea"></textarea>
                        </div>
                    </div>
                </div>

                <div class="tile is-child columns">
                    <div class="column is-2 field">
                        <div class="control is-pulled-right">
                            <div class="select">
                                <select id="inputHeightenedFourVal">
                                    <option value="">N/A</option>
                                    <option value="PLUS_ONE">+1</option>
                                    <option value="PLUS_TWO">+2</option>
                                    <option value="PLUS_THREE">+3</option>
                                    <option value="PLUS_FOUR">+4</option>
                                    <option value="LEVEL_2">2nd</option>
                                    <option value="LEVEL_3">3rd</option>
                                    <option value="LEVEL_4">4th</option>
                                    <option value="LEVEL_5">5th</option>
                                    <option value="LEVEL_6">6th</option>
                                    <option value="LEVEL_7">7th</option>
                                    <option value="LEVEL_8">8th</option>
                                    <option value="LEVEL_9">9th</option>
                                    <option value="LEVEL_10">10th</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="column field">
                        <label class="label">Heightened</label>
                        <div class="control">
                            <textarea id="inputHeightenedFourText" class="textarea"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="field is-grouped is-grouped-centered pb-2">
    <div class="control">
        {{#if spellID}}
            <button id="updateButton" onClick="canLeavePage()" class="button is-success">Update</button>
        {{else}}
            <button id="createButton" onClick="canLeavePage()" class="button is-success">Create</button>
        {{/if}}
    </div>
</div>