{{#section "styles"}}
  <link rel="stylesheet" href="/css/homebrew-builders.css" />
{{/section}}

{{#section "header"}}
  <script type="text/javascript" src="/js/confirm-page-leave.js"></script>
  <script
    type="text/javascript"
    src="/js/homebrew/builder/class-feature/builder-class-feature.js"
  ></script>
  {{#if classFeatureID}}
    <script
      type="text/javascript"
      src="/js/homebrew/builder/class-feature/editor-class-feature.js"
    ></script>
  {{/if}}
{{/section}}

{{#section "nav_home"}}
  <li><a href="/">Home</a></li>
{{/section}}

{{#section "nav_characters"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a
      href="/v/profile/characters"
    >Characters</a></li>
{{/section}}

{{#section "nav_builds"}}
  <li><a href="/builds">Builds</a></li>
{{/section}}

{{#section "nav_homebrew"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a
      href="/homebrew"
      class="active"
    >Homebrew</a></li>
{{/section}}

{{#section "nav_gm_tools"}}
  <li><a href="/gm-tools">GM Tools</a></li>
{{/section}}

{{#section "nav_browse"}}
  <li class="mx-lg-4 mx-md-3 my-md-0 my-2"><a href="/browse"><i
        class="fas fa-lg fa-search"
      ></i></a></li>
{{/section}}

{{#section "nav_login"}}
  <li class="mr-4"><a href="/auth/login">Login
      <i class="fas fa-sign-in-alt"></i></a></li>
{{/section}}

{{#section "banner_nav"}}
  <div class="banner_w3lspvt-2"></div>
{{/section}}

<div class="pageloader">
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div
    ></div><div></div><div></div><div></div></div>
</div>

<div class="pt-3">
  <h1 class="title is-2 has-txt-value-number has-text-centered">Class Feature
    Builder</h1>
</div>

<div
  id="builder-container"
  data-user-id="{{user.id}}"
  data-bundle-id="{{bundleID}}"
  data-class-feature-id="{{classFeatureID}}"
  class="columns is-mobile is-centered mt-2 mb-3"
>
  <div class="column is-8 tile is-ancestor is-vertical">

    <div class="tile">

      <div class="tile is-parent is-vertical box is-marginless mr-2">

        <div class="tile is-child">
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <div class="select">
                <select id="inputBuilderType">
                  <option value="FEATURE">Class Feature</option>
                  <option value="FEATURE-OPTION">Class Feature Option</option>
                </select>
              </div>
            </div>
            <div id="sectionClassFor" class="control">
              <div class="select">
                <select id="inputClassFor">
                </select>
              </div>
            </div>
            <div id="sectionClassFeatureFor" class="control">
              <div class="select">
                <select id="inputClassFeatureFor">
                </select>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="tile is-vertical box ml-3 mt-3">

      <div id="classFeatureContent" class="tile is-child">

        <div
          id="classFeatureLayout"
          class="card mb-2 classFeature isLayout is-hidden"
        >
          <div class="card-header cursor-clickable">
            <p
              class="card-header-title is-paddingless has-txt-value-number is-size-5"
            >Ability</p>
            <a
              class="card-header-icon is-paddingless mt-1 delete is-medium"
            ></a>
          </div>
          <div class="card-content">
            <div class="columns">
              <div class="column field">
                <label class="label">Name</label>
                <div class="control">
                  <input
                    class="input inputClassFeatureName"
                    type="text"
                    placeholder="e.g. Spirit Instinct"
                    autocomplete="off"
                  />
                </div>
              </div>
              <div class="column field classFeatureLevelSection">
                <label class="label">Level</label>
                <div class="control">
                  <div class="select">
                    <select class="inputClassFeatureLevel">
                      <option value="-1">Unacquirable</option>
                      <option value="1" selected>1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">
                Description
                <a href="/wsc_docs/#description_fields" target="_blank"><span
                    class="icon is-small has-text-info has-tooltip-top"
                    data-tooltip="WSC Docs"
                  ><i class="fas fa-book"></i></span></a>
              </label>
              <div class="control">
                <textarea
                  class="textarea inputClassFeatureDesc"
                  placeholder=""
                ></textarea>
              </div>
            </div>
            <div class="field pos-relative">
              <label class="label">
                Code
                <a href="/wsc_docs/#code_basics" target="_blank"><span
                    class="icon is-small has-text-info has-tooltip-top"
                    data-tooltip="WSC Docs"
                  ><i class="fas fa-book"></i></span></a>
                <span class="code-block-statement-display">Builder & Sheet
                  Statements</span>
              </label>
              <div class="control">
                <textarea
                  class="textarea inputClassFeatureCode nanum-coding use-custom-scrollbar"
                  rows="1"
                  spellcheck="false"
                  maxlength="4990"
                ></textarea>
              </div>
            </div>
            <div class="field pt-1 classFeatureDisplayInSheetSection">
              <label class="checkbox">
                <input
                  type="checkbox"
                  class="inputClassFeatureDisplayInSheet"
                  value="1"
                  checked
                />
                <strong>Display In Sheet</strong>
              </label>
            </div>
            <div class="field pt-1 classFeatureIsSelectorSection">
              <label class="checkbox">
                <input
                  type="checkbox"
                  class="inputClassFeatureIsSelector"
                  value="1"
                />
                <strong>is Selector</strong>
              </label>
            </div>
            <div class="classFeatureSelectionOptions is-hidden">
              <div class="">
                <button class="button is-link classFeatureAddOptionButton">Add
                  Option</button>
              </div>
              <div class="classFeatureOptionsContent pt-2">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div class="field is-grouped is-grouped-centered pb-2">
  <div class="control">
    {{#if classFeatureID}}
      <button
        id="updateButton"
        onClick="canLeavePage()"
        class="button is-rounded is-success"
      >Save</button>
    {{else}}
      <button
        id="createButton"
        onClick="canLeavePage()"
        class="button is-rounded is-success"
      >Save</button>
    {{/if}}
  </div>
</div>